#wrap {
  width: 1024px;
  margin: 0 auto;
}

#header {
  position: relative;
  height: 150px;
  background-color: aquamarine;
}

#nav {
  height: 150px;
  width: 100%;
  background-color: skyblue;
}

#nav {
  line-height: 100px;
  margin-right: 20px;
}

#main {
  background-color: cadetblue;
  height: 500px;
}

#footer {
  background-color: cornflowerblue;
  height: 100px;
}


@media screen and (max-width:1024px) {
  #wrap {
    width: auto;
  }

  #nav {
    width: 100px;
    transition: all 0.3s;
  }

  #nav a {
    display: none;
  }

  #nav:hover {
    background-color: red;
    width: 200px;
    height: 650px;
  }

  #nav:hover a {
    display: block;
  }
}