@charset "utf-8";
body {font: 16px 'Gothic A1', sans-serif; color: #585858; letter-spacing: 1px; }

/*main-header*/
.wrap {position: relative;}
#header {
  position: fixed;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin: 0 auto;
  height: 60px; width: 100%;
  z-index: 10;
  height: 60px;
}

#header .top-logo {width: 168px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%)}
#header .gnb {position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 60%; height: 40px;} 
#header .gnb ul li {float: left; width: 20%; font-weight: 200; transition: all 0.3s}
#header .gnb ul li:hover {color: #8d8d8d;}
#header .gnb ul li a {display: block; line-height: 3rem; text-align: center; font-size: 0.625rem;}
#header .user-nav {position: absolute; right: 2%; top: 50%; transform: translateY(-50%);}
#header .user-nav a {margin-left: 8px}
#header .bars-btn {position: absolute; top: 50%; left: 2%; transform: translateY(-50%);}
#header .bars-btn i {font-size: 20px; }
#header.white {background: #fff; color: #000; overflow: hidden;}

/*item header*/
#all-item {text-align: center; font-size: 14px; }
#all-item .cnb-container {
  width: 100%;  
  letter-spacing: 3px; 
  font-weight: 500; 
  color: #737373; 
  margin-top: 30px; 
  margin-bottom: 20px;
}
#all-item .gnb > ul {
  font-weight: 700;
  margin: 0 auto;
  width: 96%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
}
#all-item .gnb > ul > li {
  display: inline-flex; 
  height: 45px; line-height: 45px;  
  padding: 0 5px; 
  transition: all 0.2s
} 
#all-item .gnb li > a:hover {color: #000;}
#all-item .gnb li:first-child {font-weight: 700; color: #000;border-bottom: 2px solid #000}
#all-item .gnb li {position: relative; font-weight: 700; border-bottom: 0px solid #000; transition: all 0.2s}

#all-item .gnb li > a:after {
  position: absolute;
  transform: translateX(-5%);
  width: 0;
  height: 2px;
  opacity: 0;
  background: #000;
  display: block;
  transition: all 0.5s;
  content: '';
}
#all-item .gnb li > a:hover:after {opacity: 1; width: 100%;}

#all-item .item-list {width: 100%; overflow: hidden; display: flex;flex-wrap: wrap; justify-content: space-between;}
#all-item .item-list .list {width: 30%; background-color: #fafafa; margin-bottom: 5%;}
#all-item .item-list .list h2 {font-size: 14px; color: #000; font-weight: 600;}
#all-item .item-list .list:hover {background-color: #e2e2e2; transition: all 0.3s}
#all-item .item-list .list p {color: #737373; font-weight: 200;}
#all-item .item-list img {width: 100%;}



/*footer*/
footer {background-color: #fafafa; width: 100%; overflow: hidden; padding: 5% 0;}
footer .f-container {margin: 0 auto; width: 95%; height: 50%; }
footer .f-container a {display: block;}
footer .f-container .fnb .f-logo img { display: block; width: 30px; height: 30px; margin-bottom: 20px; }
footer .f-container .column {float: left; display: block; width: 20%; height: auto; line-height: 0.85rem; margin-bottom: 15px;}
footer .f-container .column h1 {position: relative; color: #000; font-size: 12px; font-weight: 700; margin-bottom: 30px; }
footer .f-container .one h1 {margin-bottom: 18px;}
footer .f-container .column h1:after { 
  position: absolute; 
  bottom: -5px; left: 1px;
  display: block;
  width: 15px;
  height: 2px;
  background: #000;
  content: '';}
footer .f-container .column li {font-size: 14px; color: #737373; margin-bottom: 10px; }
footer .f-container .column li a {display: inline-block;}
footer .f-container .one img {display: block; width: 30px}
footer .f-container .five {width: 20%;}
footer .f-container .five .sns-icon i {display: inline-block; width: 32px; height: 32px; text-align: center; line-height: 2rem; border: 2px solid #000; color: #000; border-radius: 20px; box-sizing: border-box; margin-right: 10px;}
footer .f-container .five ul {margin-top: 30px;}


/* animated */
.has-scroll-reveal { opacity: 0; animation-play-state: paused; }

.animated {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.fadeInUp {
  animation-name: fadeInUp;
}


@keyframes fadeInUp {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

