@charset "utf-8";

/*all-item*/
#all-item {}

#all-item .item-list .list {
    width: 49%;
}

#all-item .cnb-container nav.gnb ul {
    flex-direction: column;
    height: 46px;
    overflow: hidden;
    transition: all 0.3s;
}

#all-item .cnb-container nav.gnb ul.on {
    overflow: visible;
    height: 228px;
}

#all-item .cnb-container nav.gnb ul li {
    flex-direction: row;
    padding: 0 5px;
    transition: all 0.2s;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #999;
}

#all-item .cnb-container nav.gnb ul li>a:hover:after {
    display: none;
}