@charset "utf-8";




/*header*/
header {position: relative;}
header .store, .support, .investor {display: none;}
header .gnb  {display: none;}

/*all-item*/
#all-item .item-list .list {width: 50%;}


/*footer*/
footer .f-container .column {float: left; display: block; width: 50%; height: auto; }
footer .f-container .five {width: 100%; text-align: center;}
