@charset "utf-8";

body {font: 15px "Noto Sans KR", sans-serif; color: #585858;}

/*common*/
section {border-bottom: 1px solid #ccc;}
section article {width: 90%; margin: 0 auto; padding: 60px 0; text-align: center;}
section article h2 {font-size: 2rem; color: #222;}
section article .text {line-height: 1.6;}


/*header*/
header {
  height: 120px; 
  border-bottom: 1px solid #ccc;
}
header .inner {
  position: relative; 
  height: 120px;
}
header .inner .logo {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}
header .inner .logo img {
  width: 100%;
  height: 100%;
}
header .inner li {float: left;}
header .inner .gnb {
    position: absolute; 
    top: 50%; left: 200px; 
    transform: translateY(-50%);
}
header .inner .gnb li {width: auto; margin: 0 15px;}
header .inner .gnb li a {font-size: 2rem; color: #222;}
header .inner .tnb {
    position: absolute;
    top: 20%; right: 30px;
    transform: translateY(-50%);
}
header .inner .tnb li {width: auto; margin: 0 5px;}
header .inner .tnb li a {color: ; font-size: 1rem;}


/*main-visual*/
#main-visual {position: relative; overflow: hidden; border-bottom: 0; color: #fff;
}
#main-visual .banner-wrap {width: 100%;}
#main-visual .banner-wrap .banner {
  position: relative;
  float: left;
  width: 100%;
  height: 500px;
  background: url(../img/bg_visual_01.jpg) no-repeat center / cover;
}
#main-visual .banner-wrap .banner .text-list {position: absolute; width: 100%; bottom: 0; height: 150px;
background-color: rgba(0, 0, 0, 0.7);}
#main-visual .banner-wrap .banner .text-list .text {
  width: 90%; 
  margin: 40px auto; 
  font-size: 1rem;
}
#main-visual .main-gnb {
  position: absolute;
  width: 100%; 
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
#main-visual .main-gnb ul {
  width: 90%;
  margin: 0 auto;
}
#main-visual .main-gnb ul > li {
  float: left;
  width: 25%;
  text-align: center;
}
#main-visual .main-gnb ul > li a {
  width: 200px;
  line-height: 40px;
  display: block;
  margin: 0 50px;
  transition: all 0.3s;
}
#main-visual .main-gnb ul > li a:hover {
  background-color: rgba(255, 255, 255, 0.24);
}


/*regular*/
#regular .reg-list {overflow: hidden; margin-top: 60px; width: 90%;margin: 0 auto;}
#regular .reg-list li {
  position: relative;
  float: left;
  width: 33.33%;
  height: 330px;
}
#regular .reg-list li .img-area {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  width: 260px;
  height: 255px;
  border-radius: 50%;
  background: url(../img/bg_regular_03.jpg) no-repeat center / cover;}
#regular .reg-list li:nth-child(2) .img-area  {background-image: url(../img/bg_regular_01.jpg)}
#regular .reg-list li:nth-child(3) .img-area {background-image: url(../img/bg_regular_02.jpg)}
#regular .reg-list li strong {
    color: #fff;
    display: block;
    position: absolute;
    top: 230px; left: 0;
    width: 100%;
    text-align: center;
}
#regular .reg-list li .text {
    position: absolute; 
    top: 260px; left: 0;     
    width: 100%;
    text-align: center;
}
#regular .btn-area {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)}
#regular .btn-area > a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    background: #585858;
    color: #fff;
    border-radius: 5px;
}
#regular .btn-area > a:before {
    position: absolute;
    top: 0; left: -100%; 
    width: 0;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    transform-origin: left top;
    transition: all 0.2s;
}
#regular .btn-area > a:hover:before {width: 100%; left: 0}
#regular .btn-area > a span {position: relative; z-index: 3}

/*footer*/
footer {background: #222;}
footer #f-container {
  position: relative;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}
footer #f-container .fnb {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
footer #f-container .fnb li {
  float: left;
  margin-right: 10px;
}
footer .copy {
  position: absolute;
  display: inline-block;
  font-size: 1rem;
  color: #fff
}
footer #f-container .footer-sns {
  position: absolute;
  display: inline-block;
  right: 0;
}
footer #f-container .footer-sns i {
  margin-left: 5px;
}




