@charset 'utf-8';

/* Body */
body {
  background: #ffffff;
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 300;
  position: relative;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 94%;
  margin: 0 auto;
}



/* Typography */

h1,
h2,
h3,
h4 {
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 1rem;
}

h3 {
  color: #444;
  font-size: 0.875rem;
  letter-spacing: 4px;
}

h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #777;
  font-size: 1rem;
  line-height: 1rem;
  word-spacing: 1px;
  letter-spacing: 1px;
}

a {
  outline: none;
  text-decoration: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}


/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}



@keyframes sk-pulseScaleOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}



/* navigation styles */
.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
}

nav {
  backface-visibility: hidden;
  transition: all 0.3s ease;
}

nav a {
  color: #333333;
}

.navbar {
  background: transparent;
  height: 94px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.brand a {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

.brand img {
  width: 30px;
  margin-bottom: 3px;
}

.navicon {
  position: relative;
  right: 0;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu a {
  font-weight: 300;
  font-size: 1.625rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }

  .nav-inner {
    background: #ffffff;
  }

  .transparent {
    background: transparent;
  }

  .navicon {
    padding-right: 10px;
  }

  nav ul.right {
    float: left;
  }
}

a.icon {
  font-size: 2rem;
  padding-right: 20px;
}

.intro-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: none;
}

.close:focus {
  outline: 0px auto;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 2rem;
  color: #111112;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }

  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 2rem;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

/* header section */
#header {
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}

/* #header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  padding: 62px 20px 62px 20px;
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
  padding: 32px 20px 32px 20px !important;
} */

.header-one,
.header-two,
.header-three,
.header-four,
.header-five {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 120px !important;
}

.header-one {
  background: url('../img/header-bg.jpg') no-repeat;
  height: 60vh !important;
  min-height: 520px;
  padding-top: 150px !important;
}

.header-two {
  background: url('../images/header-bg.jpg') no-repeat;
}

.header-three {
  background: url('../images/header-three-bg.jpg') no-repeat;
}

.header-four {
  background: url('../images/header-four-bg.jpg') no-repeat;
}

.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}

.brand {
  font-family: 'Playfair Display';
}

/* Portfolio section */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio div.iso-box {
  width: 33.33%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 2%;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  background: #141414;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
  text-align: center;
  padding: 40% 0 40%;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
  background: #f9f9f9;
  border-radius: 100px;
  color: #141414;
  font-size: 1.3rem;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 4px;
}



/*filter css*/
.filter-wrapper {
  width: 100%;
  margin-bottom: 32px;
  overflow: hidden;
}

.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}

.filter-wrapper li a {
  color: #666;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 8px 17px;
  margin-right: 2px;
  margin-left: 2px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.filter-wrapper li a:active {
  background: #111112 !important;
}

.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
}

/* footer section */
footer {
  background: #141414;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

footer img {
  width: 30px;
}

/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}

.social-icon li a:hover {
  background: #ffffff;
}


/* About Section */
#about {
  margin: 0 0 50px 0;
}

#about h2 {
  color: #000;
}

#about h4 img {
  width: 30px;
}

.about-block .section-header {
  margin-bottom: 20px;
}

.about-text>p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, .7);
  line-height: 1.5rem;
}

.about-text {
  margin-bottom: 25px;
}

.about-btns>.btn-custom {
  margin-right: 25px;
}

.info-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.info-list>li {
  padding: 14px 0;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
}

.info-list>li:last-of-type {
  border: none;
}

.info-list>li>strong {
  letter-spacing: 4px;
  color: #202020;
  text-transform: uppercase;
}

.info-list>li>span {
  color: rgba(0, 0, 0, .7);
}

.skills-block {
  margin: 50px 0;
}

.skill {
  margin-bottom: 20px;
}

.skill:last-of-type {
  margin-bottom: 0;
}

.skill>h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.skill>h4 i {
  font-size: 2rem;
}


.bar-content {
  width: 70%;
  height: 18px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #eee;
  position: relative;
  transition: all 4s ease-in-out forwards !important;
}

.bar {
  width: 2px;
  height: 18px;
}

.bar-title {
  position: absolute;
  top: 7px;
  left: 12px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.bar-count {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #A9A9A9;
  font-size: 1rem;
}

/* --- gradient --- */
.black {
  background-image: repeating-linear-gradient(-45deg, #000000 0, #000000 15px);
}

.btn-custom {
  display: inline-block;
  background-color: black;
  color: #fff;
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
}

.menu-btn {
  font-size: 0;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 25px;
  z-index: 499;
}

.menu-btn>.lines {
  display: block;
  width: 36px;
}

.menu-btn>.lines>span {
  display: block;
  width: 100%;
  height: 3px;
  background: #FFF;
  transition: background 2.5s cubic-bezier(.785, .135, .15, .86);
}


/* contact */
#contact-container input:hover::placeholder,
textarea:hover::placeholder {
  color: #999;
  font-size: 0.875em;
}

#contact-container input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

#contact-container input:hover::placeholder,
textarea:hover::placeholder {
  color: rgb(213, 212, 212);
  font-size: 0.875em;
}

#contact-container #form {
  margin: 0 auto;
  text-align: center;
}

#contact-container input {
  font-size: 0.875em;
  width: 50%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #000;
  border: solid 1px #777;
  transition: all 0.3s ease-in-out;
}

#contact-container .button-success {
  clear: both;
  height: 30px;
  background-color: #999;
  color: #333;
  width: 20%;
  height: 30px;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 1.25rem;
} 

#contact-container .button-success:hover {
  background-color: #777;
}

#contact-container input#text-area {
  height: 300px;
}

#contact-container header {
  margin-bottom: 25px;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}




/* Responsive Mobile */
@media (max-width: 980px) {

  .intro-inner {
    top: 30%;
  }


}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one,
  .header-two,
  .header-three,
  .header-four,
  .header-five {
    min-height: 380px;
    padding-top: 80px !important;
  }

  #portfolio div.iso-box {
    width: 50%;
  }

}


@media (max-width: 700px) {

  h1 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.875rem;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #portfolio div.iso-box {
    width: 50%;
  }

  #contact-container input {
    width: 80%;
  }

}

@media (max-width: 450px) {
  .intro-inner {
    top: 50%;
  }

  #portfolio div.iso-box {
    width: 100%;
  }

  #contact-container input {
    width: 80%;
  }

}