@charset 'utf-8';

/*header*/
header {position: relative; left: 0; top: 0; width: 100%; transition: all 0.5s; z-index: 500;}
header:after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 0; background: #fff; opacity: 0; transition: all 0.3s;}
header h1 a {position: absolute; top: 50px; left: 50%; transform: translateX(-50%); width: 130px; height: 100px; background: url(../img/logo_w.png) no-repeat center; background-size: contain;}

header .menu {position: absolute; top: 180px; left: 50%; transform: translateX(-50%); font-family: 'Montserrat', sans-serif; z-index: 100;}
header .gnb > li {float: left; overflow: hidden; height: 80px; transition: all 0.5s;}
header .gnb > li + li {margin-left: 5px;}
header .gnb > li > a {position: relative; display: block; padding: 0 2em; font-size: 1.7rem; font-weight: 600; color: #fff; line-height: 80px;}
header .gnb > li > a:after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 0; height: 3px; background: #222; transition: all 0.3s;}
header .gnb > li:hover > a:after {width: 100%;}


header .gnb > li > ul {text-align: center; margin-top: 30px;}
header .gnb > li > ul > li + li {margin-top: 5px;}
header .gnb > li > ul > li > a {line-height: 30px; padding: 5px; color: #222;}
header .gnb > li > ul > li > a:hover {border-bottom: 1px solid #222;}





/*jQuery*/
header.open:after {top: 0px; height: 500px; opacity: 1;}
header.open h1 a {position: absolute; top: 50px; left: 50%; transform: translateX(-50%); width: 130px; height: 100px; background: url(../img/logo_b.png) no-repeat center; background-size: contain; z-index: 100;}
header.open .menu .gnb > li {height: 300px;}
header.open .gnb > li > a {color: #222;}
/*고정헤더*/
header.on {position: fixed; top: 0; left: 0; height: 80px; background: #fff; border-bottom: 1px solid #eee;}
header.on h1 a {top: 50%; left: 5%; transform: translateY(-50%); width: 100px; background: url(../img/logo_b.png) no-repeat center; background-size: contain;}
header.on .menu.on {position: fixed; top: 0; left: 50%; transform: translateX(-50%);}
header.on:after {height: 0; z-index: -1;}
header.on.open:after {height: 330px; z-index: -1;}
header.on .gnb > li > a {color: #222;}

header.on .menu-bar {display: block; width: 30px; height: 30px; position: absolute; top: 50%; right: 5%; transform: translateY(-50%); transition: all 0.3s;}
header.on .menu-bar > span {display: block; width: 100%; height: 2px; background: #222; position: absolute; top: 0; right: 0; transition: all 0.5s;}
header.on .menu-bar > span:nth-child(2) {top: 12px;}
header.on .menu-bar > span:nth-child(3) {top: 24px;}
header.on .menu-bar.on > span:nth-child(1) {transform: rotate(-45deg); top: 12px;}
header.on .menu-bar.on > span:nth-child(2) {opacity: 0;}
header.on .menu-bar.on > span:nth-child(3) {transform: rotate(45deg); top: 12px;}



/*footer*/
footer {background: #000; color: #777;}
footer a {transition: all 0.5s;}
footer a:hover {color: #ccc; transition: all 0.5s;}
footer .inner {overflow: hidden; width: 1200px; margin: 0 auto; padding: 3em 0 5em; box-sizing: border-box;}
footer .f-logo {width: 80px; height: 50px; background: url(../img/logo_w.png) no-repeat center; background-size: contain;}
footer .left {float: left;}
footer .left address {margin: 1.5em 0; font-size: 1.6rem; font-weight: 500;}
footer .left address span {margin-right: 1em;}
footer .left address span:after {content: '|'; margin-left: 1em; font-weight: 300;}
footer .left address br {display: none;}
footer .left address em br {display: block;}
footer .left .copy {font-size: 1.4rem; font-weight: 300;}
footer .right {float: right; text-align: right;}
footer .right .sns {margin: 1.8em 0;}
footer .right .sns a {display: inline-block; width: 45px; height: 45px; margin-left: 0.5em; border: 2px solid #333; border-radius: 50%; text-align: center;}
footer .right .sns i {margin-top: 10px; font-size: 2.5rem;}
footer .right .f-menu span {margin-left: 1em; font-size: 1.6rem; font-weight: 300;}
footer .right .f-menu span:after {content: '|'; margin-left: 1em;}
footer .right .f-menu span:last-child:after {display: none;}



@media screen and (max-width: 640px) {
    /*header*/
header {position: relative; height: 80px;}
header h1 a {position: absolute; top: 50%; left: 20px; transform: translateY(-50%); width: 70px; height: 30px; background: url(../img/logo_b.png) no-repeat; background-size: contain; z-index: 20;}

header .inner {position: fixed; top: 0; left: -100%; width: 80vw; height: 100vh; background: #fff; z-index: 10;}
.inner .menu {top: 100px; left: 60%; width: 100%;}
.inner .gnb {padding: 0; z-index: 20;}
.inner .gnb li {width: 100%; text-align: left;}
.inner .gnb li a {padding: 0; color: #222; font-size: 2.2rem; line-height: 2em; font-weight: 700;}
.inner .gnb li a:after {content: '  ∨'; font-stretch: ultra-expanded;}


header .menu-bar {display: block; width: 30px; height: 30px; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); transition: all 0.3s;}
header .menu-bar > span {display: block; width: 100%; height: 2px; background: #222; position: absolute; top: 0; right: 10px; transition: all 0.5s;}
header .menu-bar > span:nth-child(2) {top: 10px;}
header .menu-bar > span:nth-child(3) {top: 20px;}
header .menu-bar.on > span:nth-child(1) {transform: rotate(-45deg); top: 10px;}
header .menu-bar.on > span:nth-child(2) {opacity: 0;}
header .menu-bar.on > span:nth-child(3) {transform: rotate(45deg); top: 10px;}
header .menu-bar.on > span {background: #222;}

header.on {height: 60px;}

}