@charset "utf-8";



/*main-visual*/
#main-visual {position: relative; height: calc(100vh - 140px); overflow: hidden; background: rgba(0, 0, 0, 0.3);}
#main-visual .vid {width: 100%; margin: 0 auto;}
#main-visual video {position: absolute; top: 50%; left: 50%; transform: translate(50%, 50%); min-width: 100%; min-height: 100%; z-index: -1;}
#main-visual .tit-box {width: 80%;}
#main-visual .tit-box h2 {color: #fff; font-size: 3rem; line-height: 1.3;}
#main-visual .tit-box h2:first-child br {display: block;}
#main-visual .tit-box .text {font-size: 1.8rem;}
#main-visual > span {bottom: 5%;}

/*brand*/
#brand .contents {text-align: center;}
#brand .contents > div {width: 100%; margin: 0;}
#brand .contents > div img {width: 100%; margin-bottom: 2em;}
#brand .text-group {padding: 0;}
#brand .text-group h2 {margin-bottom: 0.5em; color: #222;}
#brand .story {display: flex; flex-direction: column; float: none;}
#brand .story .text-group {order: 2; margin-bottom: 5em;}
#brand .story .pic {order: 1; top: 0;}
#brand .story:before {display: none;}
#brand .story:after {bottom: -10%; left: -2em; padding: 10em 10em;}
#brand .oil {float: none;}
#brand .oil:before {display: none;}
#brand .oil:after {bottom: 20%; right: -2em; padding: 10em 10em;}




/*slogan*/
#slogan {height: 70vh; background: url(../img/bg-main-banner_01.png) no-repeat center; background-size: cover;}
#slogan .text-group {width: 90%; margin: 5em auto; word-break: keep-all;}
#slogan .text-group br {display: none;}
#slogan .text-group:after {display: none;}


/*product*/
#product article {padding: 5em 0;}
#product .banner-slide {position: relative; margin-left: -10%;}
#product .banner-slide > div.box {position: relative; overflow: hidden;}
#product ul.banner {position: relative; overflow: hidden; width: 5000px;}
#product li {position: relative; float: left; width: 200px; margin-top: 3em; opacity: 0.5; transition: all 0.5s;}
#product li:before {position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); width: 0; height: 0; background: #fcf9f2; border-radius: 50%; z-index: -1; content: '';}
#product li img {display: block; width: 100%;}

#product li.on {opacity: 1;}
#product li.on:before {width: 250px; height: 250px; transition: all 1s;}
#product li.on .pic {position: relative;}
#product li.on .pic:before {position: absolute; top: 50%; left: 50%; transform: translateY(-50%); width: 0; height: 1px; background: #cda571; transition: all 0.2s; content: '';}
#product li.on .pic .plus {position: absolute; top: 50%; left: 80%; transform: translateY(-50%); display: block; width: 3em; height: 3em; background: #cda571; opacity: 0; border-radius: 50%;  transition: all  0.2s;}
#product li.on .pic .plus:before,#product li .pic .plus:after {position: absolute; top: 50%; left: 50%; background: #fff; opacity: 0; z-index: 5; transform: translate(-50%, -50%); transition: all 0.2s 0.2s; content: '';}
#product li.on .pic .plus:before {top: 50%; width: 0; height: 0;}
#product li.on .pic .plus:after {left: 50%; width: 0; height: 0;}
#product li.on .pic:hover:before {width: 5em;}
#product li.on .pic:hover .plus {width: 3em; height: 3em; opacity: 1;}
#product li.on .pic:hover .plus:before {width: 50%; height: 1px; opacity: 1;}
#product li.on .pic:hover .plus:after {width: 1px; height: 50%; opacity: 1;}


#product li .txt-group {margin: -1em auto 0;}
#product li .tit {color: #cda571;}
#product li .text {display: none; margin-top: 1.5em;}
#product .btn {position: absolute; bottom: 12%; left: 50%; transform: translateX(-50%); width: 100%; margin-left: 30px;}
#product .btn .prev {margin-right: 8em;}
#product .btn .next {margin-left: 8em;}
#product .btn a img {width: 2.5em; height: 2.5em; padding: 0.5em; border-radius: 50%; background: #efdec8; transition: all 0.5s;}
#product .btn a img:hover {background: #e4c092;}
#product li.on .tit {color: #222;}
#product li.on .text {display: block;}


/*sns*/
#sns article {padding: 5em 2em;}
#sns .banner-slide {overflow: hidden; height: calc(100vw - 4em); margin: 3em 0 3em -3em;}
#sns .banner-slide .pic {width: 100vw; margin-left: 3em;}

#sns .btn {display: block; position: absolute; bottom: 8%; left: 50%; transform: translateX(-50%); width: 100%;}
#sns .btn .left {margin-right: 7em;}
#sns .btn .right {margin-left: 7em;}
#sns .btn a img {width: 3em; height: 3em; padding: 0.5em; border-radius: 50%; background: #cda571; transition: all 0.5s;}
#sns .btn a img:hover {background: #e4c092;}

/*review*/
#review .pro-list {margin-left: -1em; margin-top: 3em; height: 340px;}
#review .slide {width: calc(100%/2 - 1em); margin-left: 1em;}
#review .slide img {width: 70%;}
#review .slide strong {width: 80%; margin: 2em auto 0; font-size: 1.7rem;}
#review .slide .hh {margin: 1em 0; letter-spacing: 1px;}
#review .slide .  hh span:first-child {margin-right: 0.5em;}
#review .slide .hh span:first-child:after {margin-left: 0.5em;}


/*footer*/
footer .inner {width: 100%; margin: 0 auto; padding: 3em 3em 5em; box-sizing: border-box; text-align: center; line-height: 1.7;}
footer .f-logo {width: 80px; height: 50px; margin: 0 auto; background: url(../img/logo_w.png) no-repeat center; background-size: contain;}
footer .left {float: none;}
footer .left address {margin: 1.5em 0; font-size: 1.6rem; font-weight: 500; letter-spacing: -0.5px;}
footer .left address span {margin-right: 0;}
footer .left address span:after {display: none;}
footer .left address br {display: block;}
footer .left .copy {font-size: 1.3rem;}
footer .right {display: none;}































